<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb5rK7Bu528Gy8RnTY-zS1DMjko2UUOvo</string>
	<key>GCM_SENDER_ID</key>
	<string>615677482655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dayStamp</string>
	<key>PROJECT_ID</key>
	<string>dailystamp-17d6c</string>
	<key>STORAGE_BUCKET</key>
	<string>dailystamp-17d6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615677482655:ios:bd9253e41cecd50533b4aa</string>
</dict>
</plist>